services:
  vehicule:
    image: rt802-alpine
    build: .
    shm_size: '1gb'
    container_name: rt802-vehicule
    hostname: rt802-vehicule
    stdin_open: true 
    tty: true
    volumes:
      - ./script-vehicule:/code-projet:ro
    networks:
      reseau1:
        ipv4_address: "172.32.0.2"
  passerelle:
    image: rt802-alpine
    shm_size: '1gb'
    container_name: rt802-passerelle
    hostname: rt802-passerelle
    stdin_open: true
    tty: true 
    volumes:
      - ./script-passerelle:/code-projet:ro
    networks:
      reseau1:
        ipv4_address: "172.32.0.3"
  centralisateur:
    image: rt802-alpine
    shm_size: '1gb'
    container_name: rt802-centralisateur
    hostname: rt802-centralisateur
    stdin_open: true
    tty: true 
    volumes:
      - ./script-centralisateur:/code-projet:ro
    networks:
      reseau1:
        ipv4_address: "172.32.0.4"
volumes:
  script-vehicule:
  script-passerelle:
  script-centralisateur:

networks:
 reseau1:
    driver: bridge
    ipam:
      config:
        - subnet: 172.32.0.0/24
          gateway: 172.32.0.1